<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="virtualSerial1PortName" value="COM50"/>
		<add key="virtualSerial1BaudRate" value="9600"/>
		<add key="virtualSerial2PortName" value="COM51"/>
		<add key="virtualSerial2BaudRate" value="9600"/>
	</appSettings>
</configuration>