<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="virtualSerial1PortName" value="COM53"/>
		<add key="virtualSerial1BaudRate" value="9600"/>

		<add key="virtualSerial2PortName" value="COM54"/>
		<add key="virtualSerial2BaudRate" value="9600"/>
	</appSettings>
</configuration>